.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url(../img/tenis.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  body{
    scroll-behavior: smooth;
  }

  h1,h3{
    font-family: 'Comfortaa', cursive;
  }

  a{
  color: #ffc107;
}